# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#folders
/.vscode
/.idea
/cmake-build-release
/cmake-build-debug

#cmake files
CMakeLists.txt

#source files
test.cpp
3n+1_Conjecture.cpp